cycler==0.11.0
fonttools==4.30.0
greenlet==1.1.2
kiwisolver==1.4.0
matplotlib==3.5.1
networkx==2.7.1
numpy==1.22.3
packaging==21.3
pika==1.2.0
Pillow==9.0.1
psycopg2==2.9.3
pyparsing==3.0.7
python-dateutil==2.8.2
scipy==1.8.0
six==1.16.0
SQLAlchemy==1.4.32
